---
import "../styles/global.css";

// Supports weights 100-900
import "@fontsource-variable/inter";
import NavBar from "../components/NavBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Santhanu Vinod | Go Distributed Systems Engineer | Software Engineer
    </title>
  </head>
  <body>
    <NavBar />
    <main>
      <slot />
    </main>
  </body>
</html>
