---
import "../styles/global.css";

// Supports weights 100-900
import "@fontsource-variable/inter";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Santhanu Vinod is a Software Engineer specializing in building robust, scalable distributed systems using Go, Kubernetes, and cloud technologies."
    />
    <link rel="canonical" href="https://santhanu-vinod.pages.dev/" />

    <meta
      property="og:title"
      content="Santhanu Vinod | Distributed Systems Engineer"
    />
    <meta
      property="og:description"
      content="Software Engineer specializing in building robust, scalable distributed systems using Go, Kubernetes, and cloud technologies."
    />
    <meta property="og:url" content="https://santhanu-vinod.pages.dev/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://santhanu-vinod.pages.dev/social-media-preview-dark.svg"
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@vinodsanthanu" />
    <meta
      name="twitter:title"
      content="Santhanu Vinod | Distributed Systems Engineer"
    />
    <meta
      name="twitter:image"
      content="https://santhanu-vinod.pages.dev/social-media-preview-dark.svg"
    />

    <title>
      Santhanu Vinod | Go Distributed Systems Engineer | Software Engineer
    </title>
  </head>
  <body>
    <NavBar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
